*/.venv
**/.venv
*/target/
**/target/
protocol-testing/*.Dockerfile
protocol-testing/docker-compose.yaml
!substreams/target/wasm32-unknown-unknown/release/*.wasm
!substreams/target/wasm32-unknown-unknown/release/*.d
!evm/out
!evm/cache
